/*-------------------------
	Simples RESET
--------------------------*/


*{
	margin:0;
	padding:0;
}

/*-------------------------
	Estilos Gerais
--------------------------*/

body {
	font: 15px/1.3 'Open Sans', sans-serif;
	color: #5E5B64;
	text-align: center;
}

a, a:visited {
	outline: none;
	color: #389DC1;
}

a:hover {
	text-decoration: none;
}

section, footer, header, aside, nav {
	display: block;
}

/*-------------------------
	Formulário de Pedido
--------------------------*/

form {
	background-color: #61A1BC;
	border-radius: 2px;
	box-shadow: 0 1px 1px #CCC;
	width: 400px;
	padding: 35px 60px;
	margin: 80px auto; 
}

form h1 {
	color: #FFF;
	font-size: 64px;
	font-family: 'Cookie', cursive;
	font-weight: normal;
	line-height: 1;
	text-shadow: 0 3px 0 rgba(0,0,0,0.1);
}

form ul {
	list-style: none;
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	margin: 20px 0 15px;
}

form ul li {
	padding: 20px 30px;
	background-color: #E35885;
	margin-bottom: 8px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	cursor: pointer;
}

form ul li span {
	float: right;
}

form ul li.active {
	background-color: #8EC16D;
}

div.total {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	padding: 15px 30px;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color: #FFF;
}

div.total span {
	float:right;
}

span currency-no-fractions {
	float:right;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	padding: 15px 30px;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color: #FFF;	
}

.style-1 input[type="email"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  padding: 6px;
  margin: 0 0 10px 0;
  width: 95%;
}
.style-1 input[type="email"]:focus,
.style-1 input[type="email"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}



