html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0; padding:0; border:0; background:transparent;
  /*vertical-align: baseline;*/
}

html{
	background-color: #eaf0f2;
}

/* lists */
.list-full, .list-full li,
.list-auto, .list-auto li { width: 100%; float: left; display: block; position: relative; }
.list-auto, .list-auto li { width: auto; }

/* floats */
.float-l { 
	float: left; 
	color: #FFF;
	font-family: 'Cookie', cursive;
	font-weight: normal;
	line-height: 1;
	text-shadow: 0 3px 0 rgba(0,0,0,0.1);
	text-align: center;	
}
.float-r { float: right; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-family: 'Cookie', cursive;*/
  /*font:14px/1.5 Arial, Helvetica, sans-serif;*/
  color: #333;
  text-shadow: 0 1px 0 #fff;
}

header {
  min-height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
  background: #61A1BC;
  z-index: 2;
}

header h1 {
  padding: 10px 0 0 10px;
}

header h1 a {
  color: #F5EFEF;
}

header ul {
  padding: 15px 10px 0 0;
}

header li {
  border-left: 1px solid #ccc;
}

header li:first-child {
  border: none;
}

header li a {
  display: block;
  padding: 0 10px;
  color: #F5EFEF;
  font-size: 16px;
  background-color: #61A1BC;
  line-height: 30px;
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

header li a:hover {
  color: #333;
}

input#control-nav {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  opacity: 0;
}

/* content */
section {
  padding: 80px 20px 50px;
  border-top: 1px solid #ccc;
  font-size: 20px;
  line-height: 24px;
}

section:after {
  content: "";
  display: block;
  clear: both;
}

section img {
  width: 44%;
  margin: 0 0 10px 4%;
}

section p {
  padding: 10px 0 20px;
}

.highlights {
  position: relative;
}

.highlights input {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.highlights-item {
  float: left;
  margin: 0 0 0 2%;
  width: 32%;
  text-align: center;
}

.highlights-item:first-of-type {
  margin-left: 0;
}

.highlights-item img {
  display: block;
  width: 100%;
  margin: 0 0 5px;
}

.highlights-item p {
  font-size: 14px;
}

.highlights-button {
  display: inline-block;
  padding: 10px 15px 8px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #ececec;
  -webkit-transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
}

.highlights-button:hover {
  border: 1px solid #ececec;
  background-color: #ccc;
}

.highlights-buttons {
  display: none;
  clear: both;
  text-align: center;
}

.highlights-buttons label {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 10px; 
  border-radius: 10px;
  background-color: #ccc;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}

.highlights-buttons label:hover {
  background-color: #777;
}

/* init modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s 0.5s ease-in-out;
  transition: all 0.5s 0.5s ease-in-out;
}

.modal-content {
  padding: 10px;
  max-width: 600px;
  min-width: 360px;
  max-height: 85%;
  overflow: auto;
  position: absolute;
  top: 5%;
  left: 50%;
  z-index: 2;
  opacity: 0;
  border-radius: 3px;
  background: #fff;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal-content img {
  display: block;
  width: 100%;
  margin: 10px 0 0;
}

.modal-content p {
  padding-top: 10px;
  text-align: justify;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}

.modal-close:after {
  content: "X";
  float: right;
  margin: 5px 5px 0 0;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 3;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background-color: rgba(255,255,255,0.8);
  border-radius: 20px;
  box-shadow: 0 0 3px #000;
}

input[id*="modal_"] {
  position: fixed;
  left: -9999px;
  top: 50%;
  opacity: 0;
}
input[id*="modal_"]:checked + div.modal {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}

input[id*="modal_"]:checked + div.modal .modal-content {
  opacity: 1;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
}


@media screen and (min-width: 768px) and (max-width: 5000px){
	header h1{
		font-size: 64px;
	}

}


@media screen and (min-width: 768px) and (max-width: 800px){
	header h1{
		font-size: 45px;
	}
	
	header li a {
	    display: block;
	    padding: 16px 4px 13px 4px;
	    color: #F5EFEF;
	    font-size: 11px;
	    line-height: 0px;
	    text-decoration: none;
	    -webkit-transition: all 300ms ease;
	    transition: all 300ms ease;
	}

}

@media screen and (max-width: 767px) {
	header h1{
		font-size: 70px;
	}
		
  header nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    border-left: 1px solid #ccc;
    background: #fff;
    overflow-x: auto;
    z-index: 2;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  header ul.list-auto {
    padding: 0;
  }

  header ul.list-auto li {
    width: 100%;
    border: solid #ccc;
    border-width: 0 0 1px;
  }

  header li a {
    padding: 15px 10px;
  }

  header li a:hover {
    background-color: #ccc;
  }

  .control-nav { /* label icon */
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    width: 30px;
    padding: 5px 0;
    border: solid #333;
    border-width: 3px 0;
    z-index: 2;
    cursor: pointer;
  }

  .control-nav:before {
    content: "";
    display: block;
    height: 3px;
    background: #333;
  }

  .control-nav-close {
    position: fixed; /* label layer */
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 1;
    background: rgba(0,0,0,0.4);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  /* checked nav */
  input#control-nav {
    display: block;
  }

  input#control-nav:focus ~ .control-nav {
    border-color: #000;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
  }

  input#control-nav:focus ~ .control-nav:before {
    background: #000;
  }

  input#control-nav:checked ~ nav,
  input#control-nav:checked ~ .control-nav-close {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  header+section {
    padding-top: 80px;
  }

  section {
    padding: 30px 15px 10px;
  }

  .highlights {
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }

  .highlights-item {
    width: 100%;
    margin-left: 0;
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .highlights-item p {
    opacity: 0;
    -webkit-transition: opacity 500ms 500ms ease-in-out;
    transition: opacity 500ms 500ms ease-in-out;
  }

  .highlights-buttons {
    display: block;
    padding-top: 10px;
  }

  /*checked*/
  .highlights input:checked + div {
    position: relative;
    opacity: 1;
    visibility: visible;
    z-index: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .highlights input:checked + div p {
    opacity: 1;
  }

  .highlights input:nth-of-type(1):checked ~ .highlights-buttons label:nth-child(1),
  .highlights input:nth-of-type(2):checked ~ .highlights-buttons label:nth-child(2),
  .highlights input:nth-of-type(3):checked ~ .highlights-buttons label:nth-child(3) {
    background-color: #000
  }

  .modal-content {
    padding: 10px 5%;
    min-width: 88%;
  }
}

@media screen and (max-width: 480px) {
  header h1 {
    font-size: 20px;
    line-height: 40px;
  }
}










		#map { 
       	margin: 75px 0px 0px 0px; padding: 0; width: 99%;  height: 595px;background-color: #CCC; 
       	}
       #legend {background: white; padding: 5px; width:10%}
        #legend h3 {
        margin-top: 0;
      }
      #legend img {
        vertical-align: middle;
      }
      .imagemDesc {
      	width:30px;
      	margin:13px 0px 0px 0px;
      }
      .textDesc {
      	padding: 0px 0px 0px 60px;
      	margin: -32px 0px 0px 0px;
      }
      .conteinerDesc {
      	margin: 15px 0px 0px 15px;
      }
  
.form{
	    overflow: hidden;
}

.form nav {
  display: inline-block;
  margin: 0px auto 45px;
  background-color: #5597B4;
  box-shadow: 0 1px 1px #CCC;
  border-radius: 2px;
}

.form a {
  display: inline-block;
  padding: 18px 30px;
  color: #FFF !important;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none !important;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  -webkit-webkit-transition: background-color 0.25s;
  -moz-webkit-transition: background-color 0.25s;
  -ms-webkit-transition: background-color 0.25s;
  -o-webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.form nav a:first-child {
  border-radius: 2px 0 0 2px;
}

.form navnav a:last-child {
  border-radius: 0 2px 2px 0;
}
.form nav.home .home,
.form  nav.projects .projects,
.form  nav.services .services,
.form  nav.contact .contact {
  background-color: #E35885;
}

.form p {
  font-size: 22px;
  font-weight: bold;
  color: #7D9098;
}

.form p b {
  color: #FFF;
  display: inline-block;
  padding: 5px 10px;
  background-color: #C4D7E0;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 18px;
}

.formulario{
	margin: -40px 0px 0px 0px;
}

.formulario_input{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 95%;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
	box-shadow: 1px 1px 2px #333333;
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;  
    
	border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 6px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;      
}

.formulario_textarea{
	padding: 6px;
	margin: 0px 0px 0px 0px;
	width:95%;
	border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
	border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;         
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #61A1BC;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.formulario_div_btn{
    position: relative;
    left: 37%;
    margin-right: -50%;
}

.formulario_imagem{
	width: 40px;
}

.formulario_div_imagem{
	position: relative;
    margin: 5px 4px -54px 0px;
    padding: 0px 0px 0px 0px;
    left: -4%;
}

#sw-content {
    height: 249px;
}

#pw-mask{
    background: url("http://www.estadao.com.br/paywall/img-tpl/overlay-preto.png") repeat;
    display: none;
    left: 0;
    min-height: 100%;
    position: absolute;
    top: 0;
    z-index: 2147483647;
    width: 100%;
    height: 100%;
}

#signwall {
    width: 460px;
    background: url('http://localhost:8080/oss/assets/images/icos/city.jpg') no-repeat #fff;
    border: 1px solid #ddd;
    z-index: 9999999999;
    height: 454px;
    font-size: 12px;
}

#signwall .half-left {
    border-right: 1px solid #ccc;
}
.half-left {
    float: left;
    width: 50%;
    margin-left: 3%;
    margin-right: 3%;
}

#signwall a img:hover {
    opacity: 0.5;
    filter: alpha(opacity = 50);
}

#signwall a, #pw-wrap a {
    text-decoration: underline;
}
#signwall a, #signwall p, #signwall b {
    color: #909291;
    margin: 0;
    font-family: arial;
}

#signwall .half-left span, #signwall .half-right span {
    display: block;
    margin: 6px 0;
}

.signwall_formulario input{
	padding: 20px 30px;
	background-color: #E35885;
	margin-bottom: 8px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	cursor: pointer;
}

.signwall_formulario input :-webkit-input-placeholder{color: red;}
.signwall_formulario input :-moz-placeholder{color: red;}
.signwall_formulario input ::-moz-placeholder{color: red;}
.signwall_formulario input :-ms-input-placeholder{color: red;}


.signwall_formulario h1 {
	color: #FFF;
	font-size: 64px;
	font-family: 'Cookie', cursive;
	font-weight: normal;
	line-height: 1;
	text-shadow: 0 3px 0 rgba(0,0,0,0.1);
}

.signwall_formulario{
	background-color: #61A1BC;
	border-radius: 2px;
	box-shadow: 0 1px 1px #CCC;
	width: 400px;
	padding: 35px 60px;
	margin: 80px auto; 
}


.signwall_formulario ul {
	list-style: none;
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	margin: 20px 0 15px;
}

.signwall_formulario ul li span {
	float: right;
}

.signwall_formulario ul li.active {
	background-color: #8EC16D;
}

.signwall_formulario_botao{
    padding: 5px 5px 5px 5px;
}

.signwall_formulario_input{
    padding: 8px 9px 8px 8px;
    margin: 5px 0px 5px 0px;
}

.signwall_formulario_plogin{
    padding: 6px 0px 6px 0px;
}









