 <!doctype html>
<html ng-app="phonecatApp" ng-controller="PhoneListCtrl" lang="pt-br">
	<title ng-bind-template="Google Phone Gallery: {{query}}">Google Phone Gallery</title>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
		<script src="js/querySimple.js"></script>
	</head>
	<body>
		<div>
			Search: <input ng-model="query">
			Sort by:
			<select ng-model="orderProp">
				<option value="name">Alphabetical</option>
				<option value="age">Newest</option>
			</select>
		</div>
		<div class="col-md-10">
			<ul class="phones">
				<li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
				{{phone.name}}
				<p>{{phone.snippet}}</p>
			</ul>
		</div>
	</body>
</html>